
.footer ul, .footer-social ul{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.footer ul li{
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.0015em;
}
.footer-social ul li{
    display: inline;
}
.footer ul li a, .footer-social ul li a{
    text-decoration: none;
    color: #fff;font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.0015em;
}
.footer-social p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.0015em;
}