@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../images/home-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 554px;
    padding-top: 50px;
}
.home_banner h1{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 59px;
}
.home_banner button{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.home_banner input[type=text]{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background: #F1F6F4;
    height: 50px;
    letter-spacing: 0.0015em;
}