.service_area{
    background: #E5E5E5;
}
.single_service_area img{
    width: 80px;
    height: 80px;
}
.single_service_area h6{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.0015em;
}
.single_service_area p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.0015em;
}