.login_form h5{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}
.login_form form input[type=email],.login_form form input[type=password],.login_form form input[type=checkbox], .login_form form label, .login_form form a,.login_form form button{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}
.login_form form input[type=email],.login_form form input[type=password]{
    border-bottom: 1px solid!important;
}
.login_form p{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}