
.sidebar{
    height: 100vh;    
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    overflow-x: hidden;
  }
.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.sidebar ul li{
    display: block;
}
.sidebar ul li a{
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.sidebar ul li a.active{
    color: #275A53;
}
@media (max-width: 600px) {
    .sidebar{
        height: 50vh;
      }
      .sidebar ul li a{
          line-height: 12px;
      }
      .sidebar{ 
        // position: fixed;
        top: 0;
        left: 0;
        display: block;
        overflow-x: hidden;
      }
}
@media only screen and (min-width: 768px){
    .sidebar{
        height: 100vh;
      }
      .sidebar ul li a{
          line-height: 12px;
      }
      .sidebar{
        height: 100vh;    
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        overflow-x: hidden;
      }
}
@media only screen and (min-width: 992px){
    .sidebar{
        height: 100vh;
      }
      .sidebar ul li a{
          line-height: 12px;
      }
      .sidebar{
        height: 100vh;    
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        overflow-x: hidden;
      }
}
@media (min-width: 1200px){
    .sidebar{
        height: 100vh;
      }
      .sidebar{
        height: 100vh;    
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        overflow-x: hidden;
      }
}